{% extends 'base.html' %}
{% block content %}
<style>
    #imgcontain{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        width: 100%;
    }
    .img-wrapper {
        position: relative;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        border: 1px solid black;
        border-radius: 5%;
    }
    .img-wrapper img {
        border-radius: 5%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50, 50);
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }
</style>

<div id="imgcontain">

    {% if drawing_list %}
    {% for drawing in drawing_list %}
    <div>
        
        <div class="img-wrapper">
            <!-- https://zenna9.tistory.com/36 -->
            <a href="/palette/{{ drawing.id }}/"><img src="../media/{{ drawing.imgfile }}"></a>
        </div>
        <div>
            {{ drawing.subject }}
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div>질문이 없습니다.</div>
    {% endif %}
</div>

<div>
    <a href="{% url 'palette:drawing_create' %}">게시글 등록</a>
</div>
{% endblock %}