{% extends 'base.html' %}
{% block content %}
<!-- {% comment %} https://mjmjmj98.tistory.com/17 {% endcomment %} -->

<style>
    .top{
        margin-top:1%;
        display: flex;
        flex: auto;
        justify-content: space-between;
    }
    .img-wrapper {
        display: flex;
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 5%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .img-wrapper img {
        border-radius: 5%;
        position: absolute;
        transform: translate(50, 50);
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        border: 1px solid black;
        border-radius: 5%;
    }
    .intro{
        position: relative;
        font-family: 'Indie Flower', cursive;
        color:white;
        -webkit-text-stroke: 1px black;
    }
    .subject{
        margin-top: 10px;
        font-size: 97px;
    }
    .content{
        position: relative;
        font-size: 40px;
        width: 90vh;
    }
    .drawing_info{
        flex-direction: column;
        display: flex;
        font-family: 'Indie Flower', cursive;
        color:white;
        -webkit-text-stroke: 1px black;
        align-items: flex-end;
        position:relative;
        text-align: right;
        font-size: 38px;
    }
    .info{
        display: flex;
        align-items: flex-end;
    }

    .button_modi{
        display: flex;
        margin-top: 35px;
        position: relative;
        justify-content:right;

    }
    .btn_mod{
        height: 50px;
        width: 100px;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        color:white;
        -webkit-text-stroke: 1px black;
    }

    .btn_del{
        height: 45px;
        width: 90px;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        color:white;
        padding-top: 5px;
        -webkit-text-stroke: 1px black;
    }
    .download{
        height: 45px;
        width: 130px;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        color:white;
        padding-top: 5px;
        -webkit-text-stroke: 1px black;
        margin-left:1vw;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-right: 3vh;
    }
    /* https://narup.tistory.com/210 */
    
    .sep{
        position: relative;
        top: 5px;
        width: 98.5%;
    }
    .bot{
        display: block;
    }
    .comment{
        width: 167.5vh;
        height: 45px;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        color:white;
        -webkit-text-stroke: 1px black;
        padding-top: 5px;
        padding-left: 10px;
        margin-top: 10px;
        margin-left: 15px;
    }
    .comment_submit{
        position: relative;
        top: -17px;
        width: 145px;
        height: 53px;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        color:white;
        -webkit-text-stroke: 1px black;
        margin-left: 5px;
        padding-top: 5px;
    }
    .comment_box{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 15px;
        width: 97.5%;
        margin-bottom: 10px;
        font-family: 'Indie Flower', cursive;
        color:white;
        border-radius: 15px;
        -webkit-text-stroke: 1px black;
        border: 1px solid black;
        padding-left: 10px;
    }
    .btn_comm{
        display: flex;
        position: relative;
        margin-top: 0.5vh;
        /* margin-top: -3.5vh; */
        /* margin-left: 182vh; */
    }
    .mod_btn{
        position: relative;
        margin-right: 0.5vh;
        margin-left: 158vh;
        display: block;
        width: 90px;
        height: 35px;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        color:white;
        -webkit-text-stroke: 1px black;
        margin-top: 0.5vh;
    }
    .delete{
        width: 80px;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        background-color: #D8EAF6;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        font-size: 23px;
        color:white;
        -webkit-text-stroke: 1px black;
        padding-top: 3px;
        height: 33px;
        margin-top: 0.5vh;
    }
    
    .comment_user{
        display: flex;
        font-size: 27px;
    }
    .comment_content{
        display: flex;
        font-size: 33px;
        position: relative;
        margin-top: -1vh;
    }
    .comment_date{
        display: flex;
        position: relative;
        font-size: 25px;
        padding-left: 158vh;
        margin-top: -3vh;
        /* margin-top: -20px;
        padding-left: 86%; */
    }
    
</style>

<div class="top">
    <div class="img-wrapper">
        <img src="../../media/{{ drawing.imgfile }}">
    </div>

    <div class='intro'>
        {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
        {% endif %}
        <div class='subject'>{{ drawing.subject }}</div>
        
        <div class='content'>
            {{ drawing.content }}
        </div>
    </div>

    <div class="right">
        <div class="button_modi">
            {% if request.user == drawing.author %}
            <a href="{% url 'palette:drawing_modify' drawing.id %}" 
            class="btn_mod">modify</a>
            <a href="{% url 'palette:drawing_delete' drawing.id %}" class="btn_del"
            onlick="return confirmDelete();">delete</a>
            {% endif %}
        </div>
    
        <div class="info">
            <div class='drawing_info'>
                <div class='drawing_user'>{{ drawing.author.username }}</div>
                <div class='drawing_date'>{{ drawing.create_date }}</div>
            </div>
            <a href="{% url 'palette:file_download' id=drawing.id %}" class="download">download</a>
        </div>
    </div>
    
    
</div>

<hr class='sep'>


<div class="bot">
    <form action = "{% url 'palette:comment_create' drawing.id %}" method="post">
        {% csrf_token %}
        <textarea name="content" id="content" rows="15" placeholder="Please enter a comment" class='comment'></textarea>
        <input type="submit" value="comment" class='comment_submit'>
    </form>
        
        {% for comment in drawing.comment_set.all %}
            <div class='comment_box'>
                
                <div class="btn_comm">
                    <div class='comment_user'>{{ comment.author.username }}</div>
                    <div class="my-3">
                        {% if request.user == comment.author %}
                        <a href="{% url 'palette:comment_modify' comment.id  %}" 
                        class="mod_btn">modify</a>
                        {% endif %}
                    </div>
                    {% if request.user == comment.author %}
                    <a href="#" class="delete btn btn-sm btn-outline-secondary "
                        data-uri="{% url 'palette:comment_delete' comment.id  %}">delete</a>
                    {% endif %}
                </div>
                
                <div class='comment_content'>{{ comment.content }}</div>
                <div class='comment_date'>{{ comment.create_date }}</div>
            </div>
        {% endfor %}
</div>


{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});

function confirmDelete() {
 return confirm('정말 삭제하시겠습니까?');
}
</script>
{% endblock %}