{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom left, #E2F1FC, #365072);
        text-decoration: none;
        font-family: 'Indie Flower', cursive;
        color: #FFFFFF;
        -webkit-text-stroke: 1px black;
    }
    .title{
        font-size: 80px;
        display: flex;
    }
    .login-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border: 1px solid black;
        width: 43vw;
        height: 60vh;
        background-color: #2E4564;
        border-radius: 15px;
        align-items: center;
        padding-top: 3vh;
    }
    .mb-3{
        align-items: center;
        display: flex;
        margin-bottom: 2vh;
    }
    .login-control{
        display: flex;
        font-size: 40px;
        margin-right: 1vw;
    }
    .form-control{
        width: 25vw;
        height: 6vh;
        border: 1px solid black;
        border-radius: 10px;
        font-family: 'Indie Flower', cursive;
        color: #FFFFFF;
        -webkit-text-stroke: 1px black;
        padding-left: 0.5vw;
        font-size: 20px;
    }
    .btn{
        width: 15vw;
        height: 5.5vh;
        border: 1px solid black;
        border-radius: 15px;
        font-family: 'Indie Flower', cursive;
        color: #FFFFFF;
        -webkit-text-stroke: 1px black;
        font-size: 30px;
        padding-bottom: 3vh;
        background-color: #748AA4;
    }
    .nav-link{
        position: relative;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: 'Indie Flower', cursive;
        color: #FFFFFF;
        -webkit-text-stroke: 1px black;
        font-size: 30px;
        margin-top: 1vh;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <div class="container">
        <form method="post" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}

            <div class="login-box">
                <div class="title">
                    CANVAS
                </div>
                <div class="mb-3">
                    <label for="username" class="login-control">id</label>
                    <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="password1" class="login-control">pw</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                        value="{{ form.password1.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="password2" class="login-control">pw veri</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        value="{{ form.password2.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="email" class="login-control">email</label>
                    <input type="text" class="form-control" name="email" id="email"
                        value="{{ form.email.value|default_if_none:'' }}">
                </div>

                <a href="{% url 'common:login' %}">
                    <button type="submit" class="btn btn-primary">signup</button>
                </a>

        </form>
    </div>    
</body>

{% endblock %}
