<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom left, #E2F1FC, #365072);
        font-family: 'Indie Flower', cursive;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 
    .logo{
        display: flex;
        width: 26vw;
    }
    .go{
        font-size: 30px;
        text-align: center;
        color: black;
        background-image: linear-gradient(#E7F5FF, #C6DDEC);
        border: 1px solid black;
        border-radius: 50px;
        padding-left: 1vw;
        padding-top: 2vh;
        height: 7vh;
        width: 18vw;
        padding-right: 1vw;
    }
</style>
<body>
    <div class="main">
        <img class="logo" src="/static/image/start.png">
        <a href="" class="go">
            Draw on you canvas
        </div>
    </div>
    
</body>
</html>